
[mapper]
double = "f32"
string = "String"
int32 = "i64"
int53 = "i64"
int64 = "isize"
bytes = "String"
boolFalse = "bool"
boolTrue = "bool"
Bool = "bool"
vector = "Vec"
Vector = "Vec"


[filter]

[filter.ProfilePhoto]
[filter.ProfilePhoto.id]
sign_type = "String"
optional = false
reason = """
On the telegram api document website, this type is std::int64_t   https://core.telegram.org/tdlib/docs/classtd_1_1td__api_1_1profile_photo.html,
So rtdlib use i64, but libtdjson return json is a string.
{"@type":"updateUser","user":{"@type":"user","profile_photo":{"@type":"profilePhoto","id":"3193525115240425385",..}}
{"@type":"profilePhoto","id":"3193525115240425385", ...}
is not "id": 3193525115240425385
if use Option<i64> serde_json deserialize will throw error.
"""

[filter.Chat]
[filter.Chat.order]
sign_type = "String"
optional = false
reason = """
https://core.telegram.org/tdlib/docs/classtd_1_1td__api_1_1chat.html
order is std::int64_t
but libtdjson return data is string
sample
{"@type":"updateNewChat","chat":{"@type":"chat","id":690763082,"type":{"@type":"chatTypePrivate","user_id":190363082},"title":"Fnunkuy","order":"0","is_pinned":false, ...}
"""

[filter.Message]
[filter.Message.media_album_id]
sign_type = "String"
optional = false
reason = """
https://core.telegram.org/tdlib/docs/classtd_1_1td__api_1_1message.html
media_album_id is std::int64_t
sample
{"@type":"updateNewMessage","message":{"@type":"message","id":139460608,"media_album_id":"0", ...}}
"""

[filter.UpdateChatLastMessage]
[filter.UpdateChatLastMessage.order]
sign_type = "String"
optional = false
reason = """
https://core.telegram.org/tdlib/docs/classtd_1_1td__api_1_1update_chat_last_message.html
order is std::int64_t
sample
{"@type":"updateChatLastMessage","chat_id":690763082,"last_message":{"@type":"message",...},"order":"0"}
"""

[filter.Poll]
[filter.Poll.id]
sign_type = "String"
optional = false
reason = """
https://core.telegram.org/tdlib/docs/classtd_1_1td__api_1_1poll.html
sample
"poll":{"@type":"poll","@struct":"Poll","id":"6233357861422891010", ... }
"""

[filter.Sticker]
[filter.Sticker.set_id]
sign_type = "String"
optional = false
reason = """
https://core.telegram.org/tdlib/docs/classtd_1_1td__api_1_1sticker.html
sample
"sticker":{"@type":"sticker","@struct":"Sticker","set_id":"2463557141785477121", ... }
"""

[filter.SupergroupFullInfo]
[filter.SupergroupFullInfo.sticker_set_id]
sign_type = "String"
optional = false
reason = """
https://core.telegram.org/tdlib/docs/classtd_1_1td__api_1_1supergroup_full_info.html
sample
"supergroup_full_info":{"sticker_set_id": "0", ... }
"""

[filter.ChatPosition]
[filter.ChatPosition.order]
sign_type = "String"
optional = false
reason = """
issue https://github.com/fewensa/telegram-client/issues/16
the master branch of td, not have order field in  UpdateChatDraftMessage, It's ChatPosition
  2020-08-10
"""

[filter.UpdateChatDraftMessage]
[filter.UpdateChatDraftMessage.order]
sign_type = "String"
optional = false
reason = """
issue https://github.com/fewensa/telegram-client/issues/16
the master branch of td, not have order field in  UpdateChatDraftMessage, It's ChatPosition
  2020-08-10
"""

[filter.UpdateChatIsPinned]
[filter.UpdateChatIsPinned.order]
sign_type = "String"
optional = false
reason = """
issue https://github.com/fewensa/telegram-client/issues/16
the master branch of td, not have UpdateChatIsPinned
  2020-08-10
"""

[filter.UpdateChatIsSponsored]
[filter.UpdateChatIsSponsored.order]
sign_type = "String"
optional = false
reason = """
issue https://github.com/fewensa/telegram-client/issues/16
the master branch of td, not have UpdateChatIsSponsored
  2020-08-10
"""

[filter.UpdateChatOrder]
[filter.UpdateChatOrder.order]
sign_type = "String"
optional = false
reason = """
issue https://github.com/fewensa/telegram-client/issues/16
the master branch of td, not have UpdateChatIsSponsored
  2020-08-10
"""



[filter.PageBlockCover]
[filter.PageBlockCover.cover]
sign_type = "Box<PageBlock>"
optional = false
reason = "recursive type"


[filter.RichTextPlain]
[filter.RichTextPlain.text]
sign_type = "Box<RichText>"
optional = false
reason = "recursive type"

[filter.RichTextBold]
[filter.RichTextBold.text]
sign_type = "Box<RichText>"
optional = false
reason = "recursive type"

[filter.RichTextItalic]
[filter.RichTextItalic.text]
sign_type = "Box<RichText>"
optional = false
reason = "recursive type"

[filter.RichTextUnderline]
[filter.RichTextUnderline.text]
sign_type = "Box<RichText>"
optional = false
reason = "recursive type"

[filter.RichTextStrikethrough]
[filter.RichTextStrikethrough.text]
sign_type = "Box<RichText>"
optional = false
reason = "recursive type"

[filter.RichTextFixed]
[filter.RichTextFixed.text]
sign_type = "Box<RichText>"
optional = false
reason = "recursive type"

[filter.RichTextUrl]
[filter.RichTextUrl.text]
sign_type = "Box<RichText>"
optional = false
reason = "recursive type"

[filter.RichTextEmailAddress]
[filter.RichTextEmailAddress.text]
sign_type = "Box<RichText>"
optional = false
reason = "recursive type"

[filter.RichTextSubscript]
[filter.RichTextSubscript.text]
sign_type = "Box<RichText>"
optional = false
reason = "recursive type"

[filter.RichTextSuperscript]
[filter.RichTextSuperscript.text]
sign_type = "Box<RichText>"
optional = false
reason = "recursive type"

[filter.RichTextMarked]
[filter.RichTextMarked.text]
sign_type = "Box<RichText>"
optional = false
reason = "recursive type"

[filter.RichTextPhoneNumber]
[filter.RichTextPhoneNumber.text]
sign_type = "Box<RichText>"
optional = false
reason = "recursive type"

[filter.RichTextAnchor]
[filter.RichTextAnchor.text]
sign_type = "Box<RichText>"
optional = false
reason = "recursive type"

[filter.RichTexts]
[filter.RichTexts.text]
sign_type = "Box<RichText>"
optional = false
reason = "recursive type"

[filter.RichTextReference]
[filter.RichTextReference.text]
sign_type = "Box<RichText>"
optional = false
reason = "recursive type"

[filter.RichTextReference.reference_text]
sign_type = "Box<RichText>"
optional = false
reason = "recursive type"

[filter.RichTextAnchorLink]
[filter.RichTextAnchorLink.text]
sign_type = "Box<RichText>"
optional = false
reason = "recursive type"



[listener]
#ok = "Ok"
#error = "Error"
#proxy = "Proxy"


